<div class="graphView">
    <form name="update" action="/" method="POST">
        {% csrf_token %}
        <div class="btn-group"
             role="group"
             style="right: 0; top: 0; margin: 20px"
        >
            <button type="button" class="btn btn-primary">Upload File</button>
            <button type="button" class="btn btn-primary">Download File</button>
            <button name="clear" value="Clear" type="submit" class="btn btn-primary">Clear</button>
            
        </div>
    </form>

</div>