<style>
    .graph-wrapper {
        height: 100%;
        align-self: stretch;
    }

    .graph-wrapper > * {
        margin-top: 64px;
        height: calc(100% - 64px) !important;
    }
</style>

<div class="graphView">
    {% if misc.upload_open %}
    {% include 'upload_base.html' %}
    {% endif %}

    <form class="top-fixed" name="update" action="/" method="POST">
        {% csrf_token %}
        <div class="btn-group"
             role="group"
        >
            <button type="submit" name="open-upload" value="nodes" class="btn btn-primary">Upload Nodes</button>
            <button type="submit" name="open-upload" value="edges" class="btn btn-primary">Upload Edges</button>
            <a type="button" class="btn btn-primary" href="/download.csv" download="network_graph.csv">Download File</a>
            <button name="clear" value="Clear" type="submit" class="btn btn-primary">Clear</button>
        </div>
    </form>

    <div class="graph-wrapper">
        {%load plotly_dash%}
        {%plotly_app name="dash_graph" %}
    </div>

    <!-- <img style="max-height: 100%; max-width: 100%;" src="/graph" alt="Create a graph using the options on the left" /> -->
</div>