{% extends "sidebar_base.html" %}

{% block graph_type %}
<p>
    {{ type }}
</p>
{% endblock %}

{% block graph_form %}
<form name="update" action="/" method="POST"> {% csrf_token %}

    <div class="property" style="overflow: auto; max-height: 300px">
        <p style="font-weight: bold">
            Ports({{ nodes|length }})
        </p>

        {% block node_loop %} {% endblock %}

        <label style="width: 100%">
            {{ nodes|length|add:1 }}.
            <input
                    name="newNode"
                    style=" width:50%; border-radius: 5px; display: inline"
                    class="form-control"
                    placeholder="New Node"
            />
            <input
                    style="border-radius: 10px; float: right"
                    class="btn btn-outline-primary btn-sm"
                    name="addNode"
                    type="submit"
                    value="Add"
            />
        </label>

        <br/>

    </div>

    <!-- Now edges -->

    <div class="property" style="overflow: auto; max-height: 300px">

        <p style="font-weight: bold">
            Edges({{ edges|length }})
        </p>

        {% block edge_loop %} {% endblock %}

        <label style="width: 100%">
            {{ nodes|length|add:1 }}.
            <input
                    name="newedgefrom"
                    style=" width:25%; border-radius: 5px; display: inline"
                    placeholder="From"
                    class="form-control"
            />
            to
            <input
                    name="newedgeto"
                    style=" width:25%; border-radius: 5px; display: inline"
                    placeholder="Dest."
                    class="form-control"
            />
            <input
                    style="border-radius: 10px; float: right"
                    name="addEdge"
                    class="btn btn-outline-primary btn-sm"
                    type="submit"
                    value="Add"
            />
        </label>
    </div>

    <div style="margin: 10px">
        <input
                name="update"
                class="btn btn-outline-primary btn-block"
                type="submit"
                value="Update"
        />
    </div>

</form>

{% endblock %}




