<div class="sidenav">
    <div class="sideTitle">Sample Graph 1 Info</div>

    <div class="property">
        <span style="font-weight: bold">Type</span>
        <span style="float: right">
            {% block graph_type %}
            Hardcoded
            {% endblock %}
        </span>
    </div>

    {% block graph_form %}
    Form of Nodes & Edges replace this
    {% endblock %}


    <div class="property">
        <span style="font-weight: bold">Add other Properties</span>
    </div>

</div>