{% extends "sidebar_base.html" %}


{% block graph_type %}
<p>
    {{ type }}
</p>
{% endblock %}

{% block Ports %}
<span style="font-weight: bold">Ports({{ nodes|length }})</span>
{% endblock %}

{% block Edges %}
<span style="font-weight: bold">Edges({{ edges|length }})</span>
{% endblock %}

{% block node_list %}

{% for node in nodes %}

<label > {{forloop.counter}}.</label>
<input style=" width:50%; border-radius: 5px" value="{{ node }}"/>
<button style="border-radius: 10px" type="button">Delete Node</button>
<br/>

{% endfor %}

<label>{{ nodes|length|add:1 }}.</label>
<input style=" width:50%; border-radius: 5px" placeholder="New Node Name"/>
<button style="border-radius: 10px" type="button">Add Node</button>
<br />
{% endblock %}

{% block edge_list %}
{% for edge in edges %}
<label > {{forloop.counter}}.</label>

<input style=" width:20%; border-radius: 5px" value="{{ edge.0 }}"/>
<label>to</label>
<input style=" width:20%; border-radius: 5px;" value="{{ edge.1 }}"/>
<button style="border-radius: 10px" type="button">Delete Edge</button>
<br />

{% endfor %}

<label>{{ edges|length|add:1 }}.</label>
<input style=" width:20%; border-radius: 5px" placeholder="From"/>
<input style=" width:20%; border-radius: 5px" placeholder="To"/>
<button type="button" style="border-radius: 10px">Add Edge</button>
<br />

{% endblock %}


