{% extends "sidebar_form.html" %}

{% block node_loop %}

{% for node in nodes %}
<div>
    <label> {{forloop.counter}}.
        <input
                name="node{{forloop.counter}}"
                style=" width:50%; border-radius: 5px"
                value="{{ node }}"
        />
    </label>
</div>
{% endfor %}

{% endblock %}



{% block edge_loop %}

{% for edge in edges %}
<div>
    <label>
        {{forloop.counter}}.
        <input
                name="edge{{forloop.counter}}from"
                style=" width:20%; border-radius: 5px"
                value="{{ edge.0 }}"
        />

    </label>
    <label>
        to
        <input
                name="edge{{forloop.counter}}to"
                style=" width:20%; border-radius: 5px;"
                value="{{ edge.1 }}"
        />
    </label>
</div>
{% endfor %}

{% endblock %}